.main-container {
  max-width: 1200px;
  margin: 10px auto !important;
}
.container-item {
  border-right: 1px solid rgb(247, 247, 247);
  border-bottom: 1px solid rgb(247, 247, 247);
  box-shadow: 1px 1px 1px rgb(179, 172, 172);
  border-radius: 5px;
}
